<%= provide :title, t("about") %>
<h1><%= t "about" %></h1>
<p>
  <%= t "the" %>
  <%= link_to t("rails_tut"), Settings.url.rails_tut %>
  <%= link_to t("book"), Settings.url.rails_tut_book %>
  <%= link_to t("screencast"), Settings.url.screencast %>
  <%= t "to_teach_web_development_with" %>
  <%= link_to t("rails"), Settings.url.rails %>
  <%= t "this_is_the_sample_application_for_the_tutorial" %>
</p>
